/* ---------- Reset ------------ */ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: consolas;
}

button, input { background-color: transparent; border: none; }

:root .theme-dark {
    --v-dark: 42, 42, 42; 
    --v-dark-hover: 78, 78, 78
}

header {
    height: 80px;
    background-color: rgb(var(--v-dark));
}

.left-1pc { left: 1%; }
.right-1pc { right: 1%; }

.header-left img {
    margin-left: 18px;
}

.header-left button:hover {
    background-color: rgb(var(--v-dark-hover));
}

.header-left button:hover, 
.header-left button:not(:hover) {
    transition: 0.3s;
}

.header-left button {
    width: 45px; 
    border-radius: 14px;
    text-align: center;
    padding-left: 11px; 
}

.header-right {
    width: 150px; 
    height: 50px; 
    background-color: yellow;
}

.close-ic ion-icon {
    color: rgb(228, 228, 228); 
    font-size: 22px;
}

.header-sidebar-link span ion-icon {
    color: rgb(179, 179, 179); 
    font-size: 28px;
}

.header-sidebar-link:hover, 
.header-sidebar-link:not(:hover) {
    transition: 0.3s;
}

.header-sidebar-link:hover {
    background-color: rgb(77, 77, 77);
}

/* -------------- common -----------------*/
.w-full { width: 100vw; }
.h-full { height: 100vh; }

.color-white { color: white; }
.color-black { color: black; }

.d-flex { display: flex; }
.flex-col { flex-direction: column; }
.jc-center { justify-content: center; }
.at-center { align-items: center; }


.d-i { display: inline; }
.d-ib { display: inline-block; }
.o-h { overflow: hidden; }
.z-1 { z-index: 1; }
.z-0 { z-index: 0; }

.posrel { position: relative; }
.posab { position: absolute; }

.top-50pc {
    top: 50%; 
    transform: translateY(-50%);
}

.left-50pc {
    left: 50%; 
    transform: translateX(-50%);
}

.pos-center {
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-0 { right: 0; }
.left-0 { left: 0; }
.bottom-0 { bottom: 0; }
.top-0 { top: 0; }
